:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
::after,
::before {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/*  Main Container */
.maincontainer {
  background-color: #d6e2f0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  .maincontainer {
    width: 100%;
    min-height: 100vh;
  }
}

/* QR Container */

.qrcontainer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 540px;
  border-radius: 10px;
}

@media (max-width: 375px) {
  .qrcontainer {
    width: 300px;
    height: 440px;
  }
}

/*&Wrapper Container*/

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -30px;
}
@media (max-width: 375px) {
  .wrapper {
    margin-top: -100px;
    margin-bottom: -100px;
  }
}

/* Image */
.image img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
@media (max-width: 375px) {
  .image img {
    width: 270px;
    height: 270px;
    border-radius: 10px;
  }
}
/* Textwrapper */
.textwrapper {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  /* margin-bottom:30px; */
}
/* QR Container Main Text */
.maintext {
  font-size: 20px;
  margin-top: 30px;
  font-weight: 700;
  color: #1f3251;
  font-family: "Outfit", sans-serif;
}
@media (max-width: 375px) {
  .maintext {
    font-size: 16px;
  }
}

/* QR Container Sub Text */
.subtext {
  color: #7b879d;
  font-size: 17px;
  font-weight: 400;
  margin-top: 20px;

  font-family: "Outfit", sans-serif;
}
@media (max-width: 375px) {
  .subtext {
    font-size: 14px;
  }
}
